@tailwind base;
@tailwind components;
@tailwind utilities;

/* Solarized Light Theme Variables */
:root,
[data-theme="light"] {
  --bg-primary: #fffde7;
  --bg-panel: #fff8e1;
  --text-main: #4e342e;
  --text-secondary: #a1887f;
  --action-primary: #26a69a;
  --accent-heading: #f06292;
}
/* Solarized Dark Theme Variables */
[data-theme="dark"] {
  --bg-primary: #161512;
  --bg-panel: #24221e;
  --text-main: #efebe9;
  --text-secondary: #b0a8a0;
  --action-primary: #26a69a;
  --accent-heading: #f06292;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

textarea {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.4);
  border-radius: 8px;
}
